<div class="col-xs-12, col-sm-6, col-md-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path artist.photo %>');">
    <%= link_to artist_path(artist), class: "card-info" do %>
      <span><%= artist.name.capitalize %></span>
    <% end %>
  </div>
</div>
