  <div class="container">
    <%  @artists.each_slice(12) do |artist|%>
      <div class="row">
        <% @artists.each do |artist| %>
          <%= link_to artist_path(artist) do %>
            <div class="col-xs-12, col-sm-6, col-md-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path artist.photo %>');">
                <div class="card-category">
                  <%= artist.name.capitalize %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
