.artist {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.artist-photo {
  padding-left:60px;
  padding-right:60px;
}

.artist-info {
  background-color: #f4f4f4;
  background-image: linear-gradient(0deg, #f4f4f4 0%, #969292 50%, #f4f4f4 100%);


  padding-bottom: 250px;
  padding-left: 90px;
  padding-right: 90px;
}

.artist-name {
  padding-left:40px;
  padding-right:40px;
  font-size:30px;
  text-align: center;
}

.artist-bio {
  text-align: left;
  padding-left:60px;
  width:300px;
  color:white;
}

#painting-title-upcase {
  color:white;
}

.artist-photograph {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5)
}
