// .gallery {
//   padding: 10px;
//   display: flex;
//   align-items: start;
//   justify-content: space-between;
// }

// #map {
//   width: 300px;
//   height: 200px;
// }


// .gallery-photo {
//     object-fit: cover;
//     border-radius: 2px;
//     box-shadow: 2px 2px 4px rgba(0,0,0,0.5)
// }

// .gallery-add-btn {
//   margin:40px;
// }

.gallery {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .bg-container {
    position: absolute;
    filter: blur(5px);
    height: 100vh;
    width: 100vw;

    .bg {
      background-size: 105%;
      background-position: center;
      height: 100vh;
    }
  }

  .gallery-card {
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex: 0 0 30%;
    font-size: 12px;
    justify-content: space-around;
    margin-top: 4em;
    opacity: 1;
    padding: 30px;
    position: relative;
    text-align: left;
    width: 600px;

    .gallery-name {
      font-size: 28px;
      margin-top: 0;
    }

    p {
      font-size: 18px;
    }
  }

  .gallery-paintings {
    flex: 0 0 70%;
    overflow: scroll;
  }
}

// .gallery-card {
//   align-items: start;
//   background-position: center;
//   background-size: cover !important;
//   border-radius: 8px;
//   box-shadow: 4px 4px 12px rgba(0,0,0, 0.4);
//   color: white;
//   display:flex;
//   height: 350px;
//   margin-left:20px;
//   margin-top: 1em;
//   padding-left:30px;
//   position: absolute;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   width: 600px;
// }

// .gallery-card-name-map {
//   font-size:larger;
// }
// .card-name {
//   position: absolute;
//   top: 10px;
//   left: 20px;
//   font-size: 15px;
//   text-transform: uppercase;
// }
// .gallery-card-info {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;

  &:hover {
    opacity: 0.1;
  }
}

.map {
  width: 200px;
  border-radius: 5%;
  height: 180px;
}

.far {
  color: white;
}
