.gallery {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .bg-container {
    position: fixed;
    filter: blur(5px);
    height: 100vh;
    width: 100vw;

    .bg {
      background-size: 105%;
      background-position: center;
      height: 100vh;
    }
  }

  .gallery-card {
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex: 0 0 30%;
    font-size: 12px;
    justify-content: space-around;
    margin-top: 4em;
    opacity: 1;
    padding: 30px;
    position: relative;
    text-align: left;
    width: 600px;

    .gallery-name {
      font-size: 28px;
      margin-top: 0;
    }

    p {
      font-size: 18px;
    }
  }

  .gallery-paintings {
    flex: 0 0 70%;
    overflow: scroll;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;

  &:hover {
    opacity: 0.1;
  }
}

.map {
  width: 200px;
  border-radius: 5%;
  height: 180px;
}

.far {
  color: white;
}
