// Specific CSS for your home-page

.featured {
  height: 70vh;
  position: relative;
  width: 100vw;

  .card {
    border-radius: 0;
    box-shadow: none;
    position: absolute;
    height: 70vh;
    margin: 0;
    width: 100vw;
  }
  .home-card-link {
    color:white;
    text-align:center;
    text-decoration: none;
    height: 90px;
    line-height: 90px;
  }

}

.row-home {
  text-align: center;

  a {
    color: grey;
    font-weight: 600;
  }
}
