.painting_main {
  flex: 0 0 50%;
  height: 100vh;
  padding-left: 30px;
  text-align:center;

  img {
    box-shadow: 0px 18px 29px -3px rgba(0,0,0,0.17);
    height: 60%;
    object-fit: contain;
    width: unset;
    margin-top:25px;
  }

}

.painting-info {
  flex: 0 0 30%;
  padding-bottom: 300px;
}


.painting-artist {
  color:black;
}
.painting-artist:hover {
  text-decoration: none;
}
