.painting_photo {
  text-align:center;
  padding-left: 30px;
}

.painting-info {
  margin-right: 250px;
  padding-bottom: 300px;
}


.painting-artist {
  color:black;
}
.painting-artist:hover {
  text-decoration: none;
}
