<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render 'exhibition_form', exhibition: @exhibition, mode: "Edit Exhibition" %>
      <% end %>
    </div>
  </div>
</div>
