<div class="pswp__item col-xs-8, col-sm-6, col-md-4">
  <!-- the link element would  -->
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path painting.photo %>');">
      <%= link_to painting, class: "card-info" do %>
        <span><%= painting.title.capitalize %></span>
      <% end %>
    </div>
</div>
