<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <i class="fab fa-weixin" id="wechat-btn">
    <!-- The Modal -->
        <div id="wechat-qr-containter" class="wechat-qr-containter" >
          <!-- Modal content -->
          <div class="wechat-qr" style="background-image: url('<%= asset_path "wechat.jpg" %>');">
          </div>
        </div>
    </i>

  </div>
  <div class="footer-copyright">
    © 2018 Pentimento Co. Ltd. <br />All rights reserved.
  </div>
</div>
