<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "For Gallery Owner",gallery_home_path  %>
    <br />
    © 2018 Pentimento Co. Ltd.All rights reserved.
  </div>
</div>
