<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <i class="fab fa-weixin" id='myBtn'></i>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p><%= image_tag 'wechat.jpg' %></p>
      </div>

    </div>

  </div>
  <div class="footer-copyright">
    <br />
    © 2018 Pentimento Co. Ltd.All rights reserved.
  </div>
</div>
