<% if @featured_paintings == [] %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.4columns.org/img/column/Amor_Leonilson_Install1.jpg');">
    <div class="banner-content">
      <h1>Find Your Perfect Art Today!</h1>
      <p class="btn btn-primary btn-m">
        <%= link_to "List Your Gallery and Art", new_gallery_path(@gallery) %>
      </p>
    </div>
  </div>
<% else %>
  <div class="featured paintings">
    <div class="row">
      <% @featured_paintings.each do |painting| %>
        <div class="col-xs-12">
          <div class="card banner" style="background-image: url('<%= cl_image_path painting.photo %>');" alt="<%= painting.title %>">

              <p><strong>Find Your Perfect Art Today!</strong></p>

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @other_paintings.each do |painting| %>
        <%= render '/paintings/painting_card', painting: painting %>
      <% end %>
    </div>
  </div>
<% end %>
