.btn {
  color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightblue;
  margin: 1em;

  a {
    color: white;
    text-decoration: none;
  }
}

// fix for bootstrap-datetimepicker-widget
.bootstrap-datetimepicker-widget .btn {
  color: black;
  box-shadow: none;
}
