<div class="col-xs-12, col-sm-6, col-md-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path gallery.photo %>');">
    <%= link_to gallery, class: "card-info" do %>
      <span><%= gallery.name.capitalize %></span>
    <% end %>
  </div>
</div>
