<div class="banner gallery-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path gallery.photo %>');">
  <div class="banner-content">
    <h1><%= gallery.name %></h1>
  </div>
</div>
