<div class="col-xs-8, col-sm-6, col-md-4">
  <!-- the link element would  -->
    <div class="card">
      <%= link_to appointment, class: "card-info" do %>
        <span><%= appointment.gallery.name %>
          <br>
          <%= appointment.visitor_name %>
          <br>
          <%=appointment.start_time %></span>
      <% end %>
    </div>
</div>
